body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}
a {
    color: #3498db;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}
main{
    margin: 1rem auto;
    max-width: 1500px;
    padding: .5rem;
}
div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 25px;
    justify-content: center;
}

section{
    margin: 0;
    padding: 0;
    text-align: center;
    border:#333 1px solid;
    border-radius: 0.5em;
    max-width: 500px;
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    justify-content: center;
    
}
.h3{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}
.p {
    color: black;
    font: italic smaller sans-serif;
    padding: 5px;
    max-width: 500px;
    text-align: center;
}


footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 1em;
}
