:root{
    background-color: aliceblue;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    max-width: 800px;
}

h1{
    background-color: rgb(6, 105, 244);
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 2rem;

}

h2, footer{
    background-color: aqua;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

input.submit{
    text-align: center;
}