:root{
    background-color: rgb(180, 176, 176);
    color: black;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    margin: 5px;
}
header{
    border: solid 1px #000;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    font-size: 3em;
}

nav{
    justify-content: space-around;
    display: flex;
    text-align: center;
    font-size: 1.5em;
}
.hero{
    position: relative;
}

.hero h2{
    text-align: center;
    font-size: 2em;
    color: white;
    float: center;
    position: absolute;
    left: 100px;


}
.hero img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}
.hero article{
    position: absolute;
    width: 500px;
    height: auto;
    top: 150px;
    left: 100px;
    background-color: rgba(245, 245, 245, 0.6);
    font-size: var(--place-large-font-size);
    line-height: var(--place-large-line-height);
    padding: var(--place-large-padding);
    text-align: var(--place-large-text-align);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
}