
body {
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}
a {
    color: #3498db;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
figure {
    grid-template-columns: 1fr;
    display: grid;
/*    flex-direction: row;*/
    padding: 5px;
    /*justify-content: center;*/
    text-align: center;
    margin: 10px auto;

}
.figure img{
    width: 200px;
    height: auto;
    
}
  
figcaption {
    background-color: #222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    max-width: 210px;
    text-align: center;
}


main{
    max-width: 800px;
    margin: 0 auto;
}


footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 1em;
}
