
body {
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center-right;
    background-color: black;
    color: white;
}
a {
    color: #3498db;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}
main{
    max-width: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}
figure {
    display: grid;
   flex-direction: row;
    padding: 5px;
    justify-content: center;
    text-align: center;
    margin: 10px auto;

}

figcaption {
    background-color: #222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    max-width: 210px;
    text-align: center;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 1em;
}
